
@import "tailwindcss";
@import "./styles/shared-sidebar.css";

body {
    font-family: 'Orbitron','Roboto Mono',ui-sans-serif,system-ui,-apple-system,'Segoe UI',Roboto,sans-serif;
  }

  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
  
  .animate-shimmer {
    animation: shimmer 20s infinite ease-in-out;
    background-size: 200% 100%;
  }
  

  